In [1]:
Use TempDB;

IF OBJECT_ID('dbo.ExampleTable') IS NOT NULL
    DROP TABLE dbo.ExampleTable;

CREATE TABLE dbo.ExampleTable
([ID] INTEGER, [ClientName] NVARCHAR(20), [Colour] NVARCHAR(15), [Qty] INTEGER);

INSERT INTO [dbo].[ExampleTable]
([ID], [ClientName], [Colour], [Qty])
VALUES
  (1, N'Terry', N'Red' , 5)
, (2, N'June' , NULL   , 0)
, (3, N'Kevin', N'Pink', 6);

SELECT [ID]
     , [ClientName]
     , [Colour]
     , [Qty]
FROM [dbo].[ExampleTable];

ID,ClientName,Colour,Qty
1,Terry,Red,5
2,June,NULL,0
3,Kevin,Pink,6