<h1>FOR JSON</h1>
<H3>You like Json</H3>
<H3>We like Json</H3>
<H3>Everyone loves Json?</H3>

<H2>"The OPENJSON function is available only under compatibility level 130 or higher. If your database compatibility level is lower than 130, SQL Server can't find and run the OPENJSON function. Other JSON functions are available at all compatibility levels."</H2>

see this page-> (https://docs.microsoft.com/en-us/sql/t-sql/functions/openjson-transact-sql?view=sql-server-2017)

<h1>These features are available for SQL server 2016

CCT Production - SQL Server 2016

CCT UAT - SQL Server 2016

WIN-GLA01-SQL16 - SQL Server 2016

HHMI - SQL Server 2016 </H1>

![sad panda](https://ih0.redbubble.net/image.93258900.0502/st%2Csmall%2C215x235-pad%2C210x230%2Cf8f8f8.lite-1.jpg "Logo Title Text 1")

<H3>
CCT - WIN-GLA01-SQL05 / DevSQL - SQL Server 2012

WT  - SQL Server 2012

CDB - SQL Server 2014

SHR  - SQL Server 2012?</H3>

<h3
>First step lets create a table with some test data</H3>

In [1]:
Use CCGTMongooseIDA_ML;

IF OBJECT_ID('dbo.ExampleTable') IS NOT NULL
    DROP TABLE dbo.ExampleTable;

CREATE TABLE dbo.ExampleTable
([ID] INTEGER, [ClientName] NVARCHAR(20), [Colour] NVARCHAR(15), [Qty] INTEGER);



INSERT INTO [dbo].[ExampleTable]
([ID], [ClientName], [Colour], [Qty])
VALUES
  (1, N'Terry', N'Red' , 5)
, (2, N'June' , NULL   , 0)
, (3, N'Kevin', N'Pink', 6);

: Msg 911, Level 16, State 1, Line 1
Database 'CCGTMongooseIDA_ML' does not exist. Make sure that the name is entered correctly.

<H3>Now we have some data in a table lets run a SELECT on the newly created table and lets see what the results set looks like.  Good idea :-)</H3>

In [13]:
Use CCGTMongooseIDA_ML;

SELECT [ID]
     , [ClientName]
     , [Colour]
     , [Qty]
FROM [dbo].[ExampleTable];

ID,ClientName,Colour,Qty
1,Terry,Red,5
2,June,NULL,0
3,Kevin,Pink,6

<h3>From the data set nothing rather exciting?  **Note** that the second record the colour value is **NULL**<h3>

In [14]:
Use CCGTMongooseIDA_ML;

SELECT [ID]
     , [ClientName]
     , [Colour]
     , [Qty]
FROM [dbo].[ExampleTable]
FOR JSON PATH

JSON_F52E2B61-18A1-11d1-B105-00805F49916B
"[{""ID"":1,""ClientName"":""Terry"",""Colour"":""Red"",""Qty"":5},{""ID"":2,""ClientName"":""June"",""Qty"":0},{""ID"":3,""ClientName"":""Kevin"",""Colour"":""Pink"",""Qty"":6}]"

<h1>No really thats proper JSON I promise!</h1>

```Json
[
    {
        "ID": 1,
        "ClientName": "Terry",
        "Colour": "Red",
        "Qty": 5
    },
    {
        "ID": 2,
        "ClientName": "June",
        "Qty": 0
    },
    {
        "ID": 3,
        "ClientName": "Kevin",
        "Colour": "Pink",
        "Qty": 6
    }
]
```

<h2>Notice that the second row of data which contained a **NULL** value is not outputted. <p> So we have a........</h2> 

![sad panda](https://ih0.redbubble.net/image.93258900.0502/st%2Csmall%2C215x235-pad%2C210x230%2Cf8f8f8.lite-1.jpg "Logo Title Text 1")

<h1>What can we do?
<p>
Well...... Microsoft SQL Server to the rescue

WITH 'INCLUDE_NULL_VALUES'
<h1>

In [15]:
SELECT [ID]
     , [ClientName]
     , [Colour]
     , [Qty]
FROM [dbo].[ExampleTable]
FOR JSON PATH, INCLUDE_NULL_VALUES

JSON_F52E2B61-18A1-11d1-B105-00805F49916B
"[{""ID"":1,""ClientName"":""Terry"",""Colour"":""Red"",""Qty"":5},{""ID"":2,""ClientName"":""June"",""Colour"":null,""Qty"":0},{""ID"":3,""ClientName"":""Kevin"",""Colour"":""Pink"",""Qty"":6}]"

<h2>Some more proper JSON!</h2>
<h3>Only this time round the NULL value for colour in the second record has been included</h3>

```Json
[
    {
        "ID": 1,
        "ClientName": "Terry",
        "Colour": "Red",
        "Qty": 5
    },
    {
        "ID": 2,
        "ClientName": "June",
        "Colour": null,
        "Qty": 0
    },
    {
        "ID": 3,
        "ClientName": "Kevin",
        "Colour": "Pink",
        "Qty": 6
    }
]
```

<h2>Now lets change the query a bit.  Give the last two columns names an Alias, in this case a dot alias</h2>

In [16]:
SELECT [ID]
     , [ClientName]
     , [Colour] AS [Client.Colour]
     , [Qty]    AS [Client.Qty]
FROM [dbo].[ExampleTable]

ID,ClientName,Client.Colour,Client.Qty
1,Terry,Red,5
2,June,NULL,0
3,Kevin,Pink,6

<h2> Not that exciting we can all agree.  Just note the names of the last two columns</h3>
<h3>
<p>Client.Colour</p>
<p>Client.Qty</p>
<p>In previous queries we added FOR JSON PATH, this time we are going to add, FOR JSON PATH, ROOT('Client')

In [17]:
SELECT [ID]
     , [ClientName]
     , [Colour] AS [Client.Colour]
     , [Qty]    AS [Client.Qty]
FROM [dbo].[ExampleTable]
FOR JSON PATH, ROOT('Client');

JSON_F52E2B61-18A1-11d1-B105-00805F49916B
"{""Client"":[{""ID"":1,""ClientName"":""Terry"",""Client"":{""Colour"":""Red"",""Qty"":5}},{""ID"":2,""ClientName"":""June"",""Client"":{""Qty"":0}},{""ID"":3,""ClientName"":""Kevin"",""Client"":{""Colour"":""Pink"",""Qty"":6}}]}"

<h2>We get some JSON outputed </h2>
<h3>Note the node "Client" that has been added.  Again like previously the since the second record, since Client.Colour is a null value it is excluded from the record set.

```Json
[
{
    "Client": [
        {
            "ID": 1,
            "ClientName": "Terry",
            "Client": {
                "Colour": "Red",
                "Qty": 5
            }
        },
        {
            "ID": 2,
            "ClientName": "June",
            "Client": {
                "Qty": 0
            }
        },
        {
            "ID": 3,
            "ClientName": "Kevin",
            "Client": {
                "Colour": "Pink",
                "Qty": 6
            }
        }
    ]
}
```
<h2>Notice that the second row of data which contained a **NULL** value is not outputted. <p> So what has happened, well sad panda is back....</h2> 

![sad panda](https://ih0.redbubble.net/image.93258900.0502/st%2Csmall%2C215x235-pad%2C210x230%2Cf8f8f8.lite-1.jpg "Logo Title Text 1")

<h1>What can we do?</h1>
<p>
<h1>Is it possible to add INCLUDE_NULL_VALUES ?
</h1>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>


![Yes we can](https://images-na.ssl-images-amazon.com/images/I/51DJ3iyXvNL._SX425_.jpg "Logo Title Text 1")

In [18]:
SELECT [ID]
     , [ClientName]
     , [Colour] AS [Client.Colour]
     , [Qty]    AS [Client.Qty]
FROM [dbo].[ExampleTable]
FOR JSON PATH, 
ROOT('Client'), 
INCLUDE_NULL_VALUES;

JSON_F52E2B61-18A1-11d1-B105-00805F49916B
"{""Client"":[{""ID"":1,""ClientName"":""Terry"",""Client"":{""Colour"":""Red"",""Qty"":5}},{""ID"":2,""ClientName"":""June"",""Client"":{""Colour"":null,""Qty"":0}},{""ID"":3,""ClientName"":""Kevin"",""Client"":{""Colour"":""Pink"",""Qty"":6}}]}"

<h1> Let's see that lovely formatted JSON </H1>

```Json
[
{
    "Client": [
        {
            "ID": 1,
            "ClientName": "Terry",
            "Client": {
                "Colour": "Red",
                "Qty": 5
            }
        },
        {
            "ID": 2,
            "ClientName": "June",
            "Client": {
                "Colour": null, 
                "Qty": 0
            }
        },
        {
            "ID": 3,
            "ClientName": "Kevin",
            "Client": {
                "Colour": "Pink",
                "Qty": 6
            }
        }
    ]
}
```