<H3> First lets run a query to return some data from the table [Sales].[SalesOrderDetail] </H3> 
side note the table has the name [schema].[tablename] the [schema] is used to group together
objects of the same time in this case all the 'Sales' objects.  There are other objects such as  
HumanResources	
Person	
Production	
Purchasing	
Sales
The default schema used is [dbo]

In [8]:
USE [AdventureWorks2012];

SELECT
    [SalesOrderDetail].[SalesOrderID]
  , [SalesOrderDetail].[UnitPrice]
FROM
    [Sales].[SalesOrderDetail]
    /*order by clause added to list the results set
    by the SalesOrderId so have certain order
    otherwise the results set would be in a random
    order */
ORDER BY [SalesOrderDetail].[SalesOrderID]
;

Lets have a bit of run, yes ok its SQL fun :-> </br>

Run two queries and see the number of rows returned. With the first query we are going to use a `[Group By]` on the field '[SalesOrderDetail].[SalesOrderID]' </br>
So what does `[Group By]` actually do?</br>
From books online - 
["A SELECT statement clause that divides the query result into groups of rows, usually for the purpose of performing one or more aggregations on each group. The SELECT statement returns one row per group."](https://docs.microsoft.com/en-us/sql/t-sql/queries/select-group-by-transact-sql?view=sql-server-ver15)

What does that mean?  In the case of the select statment shown below, there are 31,465 records returned by the first query which uses the `[Group By]`.  In the first query there was **121,317** records returned, when we use the `[Group By]` there are **31,465** records returned.

In [6]:
USE [AdventureWorks2012];

SELECT
   [SalesOrderDetail].[SalesOrderID]
FROM
    [Sales].[SalesOrderDetail]
GROUP BY
    [SalesOrderDetail].[SalesOrderID]
    --31465
;

Now lets do an experiment, what we now use is the `[DISTINCT]` keyword. The `[DISTINCT]` when used in a `SELECT` query will return the unique or (`[DISTINCT]`) values for the fields selected.  The query we are going to run is this -: </br>
`USE [AdventureWorks2012];` </br>
`SELECT DISTINCT` </br>
`   [SalesOrderDetail].[SalesOrderID]` </br>
`FROM` </br>
`    [Sales].[SalesOrderDetail]` </br>
This query will return a `[DISTINCT]` list of all the values in the field `[SalesOrderDetail].[SalesOrderID]`. </br>
How many records will it return?

In [9]:
USE [AdventureWorks2012];
SELECT DISTINCT
   [SalesOrderDetail].[SalesOrderID]
FROM
    [Sales].[SalesOrderDetail]

So we get the same number of records.</br>
</br>
![Not Impressed](https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.imgflip.com%2F14cqw2.jpg&f=1&nofb=1 "Logo Title Text 1")